@mixin background-opacity($color, $opacity: 0.5) {
  background: $color;
  /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}